@use "../../assets/sass/abstracts" as *;

.footer {
  background-color: $color-primary-dark;
  padding: 10rem 0;
  color: $color-gray-light-1;
  font-size: 1.4rem;

  display: grid;
  grid-template-columns: 10rem repeat(2, minmax(max-content, 1fr)) 10rem;
  align-items: center;
  grid-column-gap: 4rem;

  @include respond(tab-port) {
    grid-template-columns: 8rem repeat(2, minmax(max-content, 1fr)) 8rem;
    justify-items: center;
    grid-row-gap: 8rem;
    padding: 8rem 0;
    font-size: 1.3rem;
  }

  @include respond(phone) {
    grid-template-columns: 2rem repeat(2, minmax(max-content, 1fr)) 2rem;
  }
}

.footerLogo {
  grid-column: 2 / 3;
  @include respond(tab-port) {
    grid-column: 2 / span 2;
  }
}

.footerLogoImg {
  max-width: 100%;
  display: block;

  @include respond(tab-port) {
    width: 10rem;
  }
}

.footerNavigation,
.footerSocial {
  grid-column: 3 / 4;
  border-top: 1px solid $color-gray-light-2;
  padding-top: 2rem;

  @include respond(tab-port) {
    width: 100%;
    grid-column: 2 / span 2;
  }
}

.footerSocial {
  padding-top: 1rem;
  border: none;
}

.footerList {
  margin: 0 auto;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
  grid-gap: 2rem;
}

.footerItem {
  text-align: center;
}

.footerLink {
  &:link,
  &:visited {
    color: $color-gray-light-1;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    transition: all 0.2s;
  }

  &:hover {
    color: $color-gray-light-2;
    transform: scale(1.3);
    box-shadow: 0 1rem 2rem rgba($color-black, 0.4);
  }
}

.footerLinkIcon {
  width: 100%;
  max-height: 5rem;
  fill: #fff;
}
