@use '../abstracts' as *;

.section-about {
  background-color: $color-gray-light-1;
  padding: 25rem 10rem;
  margin-top: -20vh;

  @include respond(tab-port) {
    padding: 20rem 0;
    margin-top: -20vh;
  }
}

.section-portfolio {
  margin-top: -15rem;
}

.section-portfolio,
.section-404 {
  background-color: $color-gray-light-1;
  padding: 20rem 0 10rem;
}
